.section2{
    height: 100vh;
    background-color: white;
    /* z-index: 3;
    position: relative; */
}

.imgCarrousel
{
    width: 780px;
    height: 90vh;
}


.Carrossel{
    margin-top: 20vh;
}
@media(max-width : 700px) {
    .imgCarrousel{
        width: 400px;
        height: 300px;
    }
    .section2{
        margin-top: -400px;
    }
}