.card{
    height: 15vh;
    border: none;
    margin: 2%;
}

.cardbody
{
    height: 10vh;
    width: 80%;
    background-color: #72ABDB;
    /* justify-content: center; */
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* z-index: 1; */
}

.circuloCard
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCard
{
    color: white;
   padding-left: 2%;
}

.iconCard
{
    color: white;
}


@media (max-width: 800px) 
{
  .circuloCard 
   {
    height: 80px;
    width: 80px;
   }
   .card
   {
       margin-bottom: 30px;
   }
}