.heigth
{
    height: 50vh;
    /* background-color: aqua; */
}

.section1
{
    height: 100vh;
}

.videoTag
{
    /* height: 20%; */
    top: 0;
    /* height: 60h; */
    z-index: -1;
    width: 100%;
    position: absolute;
    left:  0;
}

.box
{
    z-index: 3;
    position: relative;
}

.logo
{
    padding-top: 20vh;
    width: 100%;
}

.textoSection1
{
    padding-top: 80vh;
    font-size: 8vh;
    /* color: rgb(255, 255, 255); */
    color: #000;
    font-family: 'Josefin Sans', cursive;
    text-shadow: 0 0 20px rgba(2, 2, 2, .9);
   
}


@media (max-width: 800px) 
{
    .textoSection1
    {
        font-size: 15px;
        margin-top: -360px;
        margin-left: -90px;
        text-align: center; 

    }

    
    .section1
    {
        height: 500px;
    }
   
}