.menu
{
    /* position: fixed; */
    z-index: 100;
    background-color:rgb(0,0,0, .6);
    color: #000;
    position: fixed;
    width: 100%;
}


.logoNav
{
    margin-left: 10px;
    height: 10vh;
}

.botaoEntrar
{
background-color: #A2BD32;
outline: none;
border: none;
transition: ease-in-out .4s;
}
.cadastrar{
    transition: ease-in-out .4s;
}
.cadastrar:hover{
    opacity: .9;
    transform: scale(1.08);
}

.botaoEntrar:hover{
    background-color: #A2BD32;
    opacity: .9;
    transform: scale(1.08);
}
